*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
 .card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
} 
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    border: 0;
    outline: 0;
    width: 84%;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search-box input::placeholder{
    color: #000;
}
.search-box button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search-box button:hover{
    color: #fff;
    background-color: #e6f5fb;
}
.search-box button img{
    width: 16px;
}
.search-box button img:hover{
    width: 16px;
}
.Weather-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.Weather-body img{
    width: 60%;
    /* margin-top: 30px; */
}
.Weather-box{
    margin-block: 2opx;
    text-align: center;
}
.Weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.Weather-body .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}
.Weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity, .wind{
    display: flex;
    align-items: center;
}
.humidity{
    margin-right: 20px;
}
.wind{
     margin-right: 20px;
}
.weather-details img{
    font-size: 36px;
}
.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}
